<div class="seven" id="examples_column">
foreach $children[0:6] do
	if $children do
	<div class="seven" id="examples_list">
		<a href="@url" id="exampletitle">@title</a>
		foreach $children do
		<a href="@url" id="example">@title</a><br>
		endforeach
	</div>
	endif
endforeach
</div>

<div class="seven" id="examples_column">
foreach $children[6:7] do
	if $children do
	<div class="seven" id="examples_list">
		<a href="@url" id="exampletitle">@title</a>
		foreach $children do
		<a href="@url" id="example">@title</a><br>
		endforeach
	</div>
	endif
endforeach
</div>

<div class="seven" id="examples_column">
foreach $children[13:10] do
	if $children do
	<div class="seven" id="examples_list">
		<a href="@url" id="exampletitle">@title</a>
		foreach $children do
		<a href="@url" id="example">@title</a><br>
		endforeach
	</div>
	endif
endforeach
</div>